* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

}



body {
    background-color: rgb(255, 242, 203);
}

.kemasan {
    background-color: rgb(100, 42, 41);
    height: 65px;
}

.induk-ayam {
    padding: 13px;
    display: flex;
    justify-content: space-between;
}

.induk-ayam ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 13px;
}

.ayam {
    background-color: rgb(107, 54, 52);
    border: 1px solid;
    border-color: rgb(66, 22, 22);
    padding: 7px;
}

.kucing {
    text-decoration: none;
    color: rgb(226, 194, 145);
    font-family: sans-serif;
    font-weight: bolder;
}

.ayam :hover {
    background-color: rgb(128, 63, 61);
    border: 1px solid;
    border-color: rgb(66, 22, 22);
    padding: 7px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 80vh;
    background:  linear-gradient(to top,rgba(255, 242, 203,0.5), rgba(0,0,0,0)), url(https://i.pinimg.com/736x/37/92/c1/3792c10fc5742c0f79e479e4283535b1.jpg);

}

.hero .overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgb(226, 177, 104, 0.4);
}

.hero .content {
    position: relative;
    z-index:1;
    text-align: center;
    color: aliceblue;
    animation: fadeUp 2s ease forwards;
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}

.hero h1 {
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 65px;
}

.hero p {
    font-weight: bolder;
    font-family: sans-serif;
}

.white {
    color: aliceblue;
}

.black {
    color: rgb(53, 53, 53);
}

.ikan-mama p {
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 0.5;
    max-width: 600px;
    text-indent: 20px;
    padding: 0 10px;
    height: 23vh;
}

.ikan {
    padding-left: 20px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 63, 61);
}

.ikan-kecil {
    padding-left: 20px;
    padding-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 63, 61);
}

.footer-bungkus {
    background-color: rgb(54, 54, 54);
}

@media (max-width: 768px) {
    .masako {
        flex-direction: column;
        gap: 20px;
    }

    .masako ul {
        width:100%;
    }
}

.masako {
    color: aliceblue;
    height:28vh;
    padding: 30px 40px;
    justify-content: space-between;
    display: flex;
    width: 100%;
    gap: 40px;
    overflow: hidden;
}

.masako ul{
    text-decoration: none;
    list-style: none;
    flex: 1;
    margin:0;
    padding:0;
    word-wrap: break-all;
}

.masako-kiri {
    margin:0;
    flex: 1;
}

.masako-kanan {
    margin:0;
    flex: 1;
}

.masako-tengah {
    margin:0;
    flex: 1;
}

.masako-ayam {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.masako-sapi {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.masako-jamur {
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-bawah {
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}